<!DOCTYPE html>
<html>
<head>
  <title>Jamwithme</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://localhost:9292/faye.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  JamWithMe
  <% if signed_in? %>
    <div id="username">
      <%= render 'users/menu', username: current_user.username %>
    </div>
  <% end %>
</header>
<%= yield %>
<footer>
  <div id="debug">
    <h4>Debug</h4>
  </div>
  <div id="message">
    <h4>Messages</h4>
  </div>
</footer>
</body>
</html>
